<div style="color: #f20044; font-weight: bold; font-size: 24px;">
    Python Learning Session: Week 20 
</div>


main topics #venv #pandas #dicts

## Agenda

1. **Recap**
   - Virtual Environments
   - Pandas
2. **Dictionaries in Python**

<div style="text-align: center; color: #f20044; font-weight: bold; font-size: 18px;">
    Virtual Environments:
</div>

<div style="text-align: center; font-size: 16px;">
Komodo is like a supercharged version of venv that can manage not just Python libraries but a wide range of software applications and tools.
</div>


<div style="text-align: center;">
    <img src="https://www.dataquest.io/wp-content/uploads/2022/01/python-virtual-envs1-1024x576.webp" alt="Optional Image Title" style="width: 60%;">
</div>

In [1]:
import pandas as pd

pd.__version__

'1.5.3'

In [6]:
## You can test by copy-ing the content in between """<content>""" below and running the cell
"""
28.05.2023	179,5
29.05.2023	182,0
30.05.2023	180,6
31.05.2023	180,1
01.06.2023	178,9
02.06.2023	178,0
03.06.2023	177,7
04.06.2023	177,9
05.06.2023	176,3
06.06.2023	176,1
07.06.2023	175,8
08.06.2023	176,6
09.06.2023	176,3
10.06.2023	176,4
11.06.2023	176,8
12.06.2023	176,9
13.06.2023	176,9
14.06.2023	176,1
15.06.2023	176,7
16.06.2023	176,2
17.06.2023	174,4
18.06.2023	175,2
19.06.2023	174,6
20.06.2023	174,2
21.06.2023	174,4
22.06.2023	174,4
23.06.2023	174,0
24.06.2023	174,1
25.06.2023	173,8
26.06.2023	173,5
27.06.2023	175,3
28.06.2023	175,7
29.06.2023	175,4
30.06.2023	174,8
01.07.2023	173,6
02.07.2023	174,1
03.07.2023	173,7
04.07.2023	173,6
05.07.2023	172,8
06.07.2023	171,8
07.07.2023	171,7
08.07.2023	171,8
09.07.2023	171,8
10.07.2023	171,7
11.07.2023	171,9
12.07.2023	171,5
13.07.2023	171,5
14.07.2023	171,4
15.07.2023	171,2
16.07.2023	171,1
17.07.2023	171,3
18.07.2023	171,3
19.07.2023	171,3
20.07.2023	171,4
21.07.2023	171,3
22.07.2023	171,4
"""

'\n28.05.2023\t179,5\n29.05.2023\t182,0\n30.05.2023\t180,6\n31.05.2023\t180,1\n01.06.2023\t178,9\n02.06.2023\t178,0\n03.06.2023\t177,7\n04.06.2023\t177,9\n05.06.2023\t176,3\n06.06.2023\t176,1\n07.06.2023\t175,8\n08.06.2023\t176,6\n09.06.2023\t176,3\n10.06.2023\t176,4\n11.06.2023\t176,8\n12.06.2023\t176,9\n13.06.2023\t176,9\n14.06.2023\t176,1\n15.06.2023\t176,7\n16.06.2023\t176,2\n17.06.2023\t174,4\n18.06.2023\t175,2\n19.06.2023\t174,6\n20.06.2023\t174,2\n21.06.2023\t174,4\n22.06.2023\t174,4\n23.06.2023\t174,0\n24.06.2023\t174,1\n25.06.2023\t173,8\n26.06.2023\t173,5\n27.06.2023\t175,3\n28.06.2023\t175,7\n29.06.2023\t175,4\n30.06.2023\t174,8\n01.07.2023\t173,6\n02.07.2023\t174,1\n03.07.2023\t173,7\n04.07.2023\t173,6\n05.07.2023\t172,8\n06.07.2023\t171,8\n07.07.2023\t171,7\n08.07.2023\t171,8\n09.07.2023\t171,8\n10.07.2023\t171,7\n11.07.2023\t171,9\n12.07.2023\t171,5\n13.07.2023\t171,5\n14.07.2023\t171,4\n15.07.2023\t171,2\n16.07.2023\t171,1\n17.07.2023\t171,3\n18.07.2023\t171,3\n19.07.2023\t171,3\n20.07.2023\t171,4\n21.07.2023\t171,3\n22.07.2023\t171,4\n'

In [3]:
import pandas as pd

df = pd.read_clipboard(names = ['Date', 'pressure_barg']) #copy the content from any type of file
df.Date = pd.to_datetime(df.Date, format='%d.%m.%Y')
df.head()

        Date pressure_barg
0 2023-05-28         179,5
1 2023-05-29         182,0
2 2023-05-30         180,6
3 2023-05-31         180,1
4 2023-06-01         178,9

<div style="color: #000000; font-size: 20px;">
In the code below we are replacing comma by dot. By adding the .head() at the end we are only printing the first 5 lines of the dataframe:     
</div>

In [4]:
df.pressure_barg.str.replace(',', '.').head()

0    179.5
1    182.0
2    180.6
3    180.1
4    178.9
Name: pressure_barg, dtype: object

<div style="color: #000000; font-size: 20px;">
In pandas to save the dataframe as a csv you can run the function "to_csv). If you do not want the indexes to be a part of the file add "index=False". See code below: 
</div>

In [108]:
df.to_csv('A7_test.csv', index = False)

In [5]:
#To check what data type the column is, run this: 
df.pressure_barg.dtype

dtype('O')

<div style="color: #000000; font-weight: bold; font-size: 18px;">
Creating custom functions
</div>

<div style="color: #000000; font-size: 16px;">
    Below we created a custom function to correct the filename by replacing the comma with dot. 
</div>

In [110]:
def csv_file_correction(filename):
    '''
    Function to correct a csv file containing numeric data written with comma instead of '.'. 
    '''
    df = pd.read_csv(filename)
    df.pressure_barg = pd.to_numeric(df.pressure_barg.str.replace(',', '.'))
    print('Data file correction..')
    df.to_csv(filename + '_fixed.csv')
    print('Done')
    return df

In [111]:
#To run the function: 

df = csv_file_correction('A7_test.csv')

Data file correction..
Done

In [112]:
df.head()

         Date  pressure_barg
0  2023-05-28          179.5
1  2023-05-29          182.0
2  2023-05-30          180.6
3  2023-05-31          180.1
4  2023-06-01          178.9

In [113]:
#Here you can check the data type for the column has changed: 
df.pressure_barg.dtype

dtype('float64')

<div style="text-align: center; color: #f20044; font-weight: bold; font-size: 18px;">
    Dictionaries:
</div>

<div style="text-align: center; font-size: 16px;">
Dictionaries in Python work the same as a traditional dictonairy, where you have a "word" in this case "key" and information about that word. 
</div>

In [13]:
dict()

{}

In [14]:
dict(wellname = 'Alpha Omega', md = 5000, poro = 0.5, API = 38, status = 'active')

{'wellname': 'Alpha Omega',
 'md': 5000,
 'poro': 0.5,
 'API': 38,
 'status': 'active'}

In [16]:
welldata = dict(wellname = 'Alpha Omega', md = 5000, poro = 0.5, API = 38, status = 'active') 

welldata

{'wellname': 'Alpha Omega',
 'md': 5000,
 'poro': 0.5,
 'API': 38,
 'status': 'active'}

In [17]:
welldata['production'] = 4900

welldata

{'wellname': 'Alpha Omega',
 'md': 5000,
 'poro': 0.5,
 'API': 38,
 'status': 'active',
 'production': 4900}

In [18]:
welldata['status'] = 'P&A'

welldata

{'wellname': 'Alpha Omega',
 'md': 5000,
 'poro': 0.5,
 'API': 38,
 'status': 'P&A',
 'production': 4900}

In [19]:
welldata.keys()

dict_keys(['wellname', 'md', 'poro', 'API', 'status', 'production'])

In [20]:
welldata.items()

dict_items([('wellname', 'Alpha Omega'), ('md', 5000), ('poro', 0.5), ('API', 38), ('status', 'P&A'), ('production', 4900)])

In [21]:
for key, value in welldata.items():
    print(f"{key}: {value}")

wellname: Alpha Omega
md: 5000
poro: 0.5
API: 38
status: P&A
production: 4900

In [2]:
global_variables = """globval:
  OWC_most_uppersand: 1859.0
  OWC_uppersand: 1859.0
  OWC_lowersand: 1962.0
"""

In [114]:
#Remember to add you own absolute path here: 

CFG = utils.yaml_load('/private/zpk/drogon_20230908_12-24/resmod/ff/23.1.1/fmuconfig/output/global_variables.yml')['global'] 
#CFG

In [115]:
import fmu.config.utilities as utils

CFG = utils.yaml_load('/private/zpk/drogon_20230908_12-24/resmod/ff/23.1.1/fmuconfig/output/global_variables.yml')['global']
sorted(list(CFG.keys()))[:5]
#sorted(list(CFG.keys()))

['APS', 'AVALUE', 'BVALUE', 'CONST_PROPS', 'DCONV_ALTERNATIVE']

In [116]:
for i, date in enumerate(CFG['dates']['SEISMIC_HIST_DIFFDATES']):
    print('loop nr: ', i + 1)
    print('the date is: ', date)

loop nr:  1
the date is:  [datetime.date(2018, 7, 1), datetime.date(2018, 1, 1)]
loop nr:  2
the date is:  [datetime.date(2019, 7, 1), datetime.date(2018, 1, 1)]
loop nr:  3
the date is:  [datetime.date(2020, 7, 1), datetime.date(2018, 1, 1)]

In [117]:
for index, value in CFG['KVKH'].items():
    print('FIPNUM IS: ', index, ' and the value is: ', value)

FIPNUM IS:  0  and the value is:  0.1
FIPNUM IS:  1  and the value is:  0.6
FIPNUM IS:  2  and the value is:  0.3
FIPNUM IS:  5  and the value is:  0.1
FIPNUM IS:  6  and the value is:  0.1
FIPNUM IS:  10  and the value is:  0.5
FIPNUM IS:  11  and the value is:  0.7
FIPNUM IS:  12  and the value is:  0.6